.title-slide {
  min-height: 100vh;
  max-height: 100vh;
  background: url("../img/Bckground-fox-ubhan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo-icon {
  margin-top: 2rem;
}
.title {
  height: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  * {
    margin: 1rem;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

    .camera {
      max-width: 150px;
    }
    * {
      max-width: 400px;
    }
  }
}

.intermezzo-1 {
  height: 70vh;
  background: url("../img/fox-berlin-1.jpg") center/cover;
}

.intermezzo-2 {
  height: 70vh;
  background: url("../img/fox-berlin-2.jpg") center/cover;
}

.wolfskino {
  width: 100%;
  height: 80vh;
  background: $pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

.varco {
  margin: 5vh;
  display: flex;
  flex-direction: column;
}

.logo-varco {
  width: 80vw;
  margin: 0 auto;
}

.contacts {
  margin-bottom: 5rem;
}
