.title-slide {
  height: 100vh;
  background: url("../img/Bckground-fox-ubhan.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.title {
  height: 100%;
  margin-bottom: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  * {
    margin: 1rem;
  }

  .date {
    width: 60%;
    margin: 0 auto;
    max-width: 200px;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1000px;
    margin: 20vh 0;
    .camera {
      max-width: 150px;
    }
    * {
      max-width: 400px;
    }
  }
}

.intermezzo1 {
  height: 70vh;
  background: url("../img/fox-berlin-1.jpg") center/cover;
}

.intermezzo2 {
  height: 70vh;
  background: url("../img/fox-berlin-2.jpg") center/cover;
}

.wolfskino {
  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.varco {
  max-width: 800px;
  margin: 5vh;
  display: flex;
  flex-direction: column;
}

.logoVarco {
  width: 80vw;
  margin: 2rem auto;
  max-width: 800px;
}

.contacts {
  margin-bottom: 5rem;
}
